:root {
  --bg-light: #4f4f4f;
  --bg-dark: #444;
  --alt-color: #f2994a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  counter-reset: div;
  font-family: sans-serif;
  padding: 0.5em;
}

@media screen and (min-width: 768px) {
  body {
    max-width: 920px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

/* ------------------
        RECIPE
---------------------*/
.recipe-texts {
  margin-top: 1rem;
}

.recipe-texts__title {
  font-family: serif;
  font-style: italic;
  margin: 0;
}

.recipe-texts__description {
  font-style: italic;
  color: var(--bg-light);
}

.recipe-texts__description::before {
  content: " ";
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  display: inline-block;
  background-image: url("../assets/icons/6dots.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.recipe__img {
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .recipe-texts {
    width: 75%;
    margin: 2rem 0;
  }

  .recipe-texts__title {
    font-size: 2.5rem;
  }
}

/* ---------------------
         CARD
----------------------*/
.card__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

.card__item {
  display: flex;
  align-items: center;
}

.card__item p {
  color: var(--bg-light);
  font-size: 0.8rem;
  font-family: sans-serif;
}

.card__item span {
  display: block;
  color: #000;
}

.card__item:first-child {
  width: 100%;
  margin-bottom: 1rem;
}

.card__list i {
  margin-right: 0.5rem;
}

.fa-utensils {
  color: var(--alt-color);
}

@media screen and (min-width: 768px) {
  .card {
    display: flex;
    justify-content: center;
    width: 20%;
    height: 20%;
    margin-top: 2rem;
    border-radius: 16px;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.25);
  }

  .card__list {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .fas,
  .far {
    font-size: 1.5rem;
  }
}

/* ---------------------
   RECIPE INGREDIENTES
----------------------*/
.recipe-ingredients__title,
.recipe-ingredients__subtitle {
  font-size: 1.5rem;
  font-style: italic;
  font-family: serif;
}

.recipe-ingredients__subtitle {
  color: var(--bg-light);
}

.recipe-ingredients__inputs {
  display: flex;
  align-items: start;
  margin-bottom: 1rem;
}

.recipe-ingredients__text {
  margin: 0;
}
.recipe-ingredients__text span {
  font-weight: 700;
}

.recipe-ingredients__input {
  margin-right: 1rem;
}

@media screen and (min-width: 728px) {
  .ingredients-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .recipe-ingredients {
    order: -1;
    width: 75%;
  }
}

/* ---------------------
   RECIPE INSTRUCTIONS
----------------------*/
.recipe-instructions__title {
  font-family: serif;
  font-size: 1.5rem;
}

.recipe-instructions__item {
  margin-bottom: 2rem;
  position: relative;
}

.recipe-instructions__item span {
  font-weight: 700;
}

.recipe-instructions__item::before {
  content: " ";
  counter-increment: div;
  content: counter(div);
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: -3rem;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  background-color: var(--alt-color);
  color: #fff;
  line-height: 1.6;
}

.recipe-instructions__footer {
  margin-top: 3rem;
  color: var(--bg-light);
}

.recipe-instructions__footer a {
  text-decoration: none;
  color: var(--bg-light);
}

/* ---------------------
        FOOTER
----------------------*/
.footer {
  margin-top: 5rem;
  padding: 1em 0;
  text-align: center;
  color: var(--bg-light);
}

.footer a {
  color: inherit;
}
